<a href="https://colab.research.google.com/github/VenkataPekala/CongosProject/blob/main/GoodBelly.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
gbdf=pd.read_excel("GoodBelly-DataSet.xlsx",sheet_name="Real Data")
gbdf

,Date,Region,Store,Units Sold,Average Retail Price,Sales Rep,Endcap,Demo,Demo1-3,Demo4-5,Natural,Fitness
0,2010-05-04,FL,Biscayne (aka Aventura),150.702088,4.390000,0,0,0,0,0,1,0
1,2010-05-11,FL,Biscayne (aka Aventura),197.403797,3.997692,0,0,0,0,0,1,0
2,2010-05-18,FL,Biscayne (aka Aventura),235.106172,3.809231,0,0,0,0,0,1,0
3,2010-05-25,FL,Biscayne (aka Aventura),226.692427,3.835000,0,0,0,0,0,1,0
4,2010-06-01,FL,Biscayne (aka Aventura),257.688151,3.902500,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...
1381,2010-06-15,SW,Veterans,192.685157,4.390000,0,0,0,0,0,0,1
1382,2010-06-22,SW,Veterans,173.720882,4.390000,0,0,0,0,0,0,1
1383,2010-06-29,SW,Veterans,278.582872,4.390000,0,0,0,0,0,0,1
1384,2010-07-06,SW,Veterans,122.229768,4.190000,0,0,0,0,0,0,1
1385,2010-07-13,SW,Veterans,166.893026,4.190000,0,0,0,0,0,0,1

In [3]:
#Find how many records this data frame has
len(gbdf)

1386

In [5]:
#What are the column names?
gbdf.head(0)

Empty DataFrame
Columns: [Date, Region, Store, Units Sold, Average Retail Price, Sales Rep, Endcap, Demo, Demo1-3, Demo4-5, Natural, Fitness]
Index: []

In [6]:
#What types of columns do we have in this data frame?
gbdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1386 entries, 0 to 1385
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Date                  1386 non-null   datetime64[ns]
 1   Region                1243 non-null   object
 2   Store                 1386 non-null   object
 3   Units Sold            1386 non-null   float64
 4   Average Retail Price  1386 non-null   float64
 5   Sales Rep             1386 non-null   int64
 6   Endcap                1386 non-null   int64
 7   Demo                  1386 non-null   int64
 8   Demo1-3               1386 non-null   int64
 9   Demo4-5               1386 non-null   int64
 10  Natural               1386 non-null   int64
 11  Fitness               1386 non-null   int64
dtypes: datetime64[ns](1), float64(2), int64(7), object(2)
memory usage: 130.1+ KB

In [7]:
#Give the summary for the numeric columns in the dataset
gbdf.describe()

,Units Sold,Average Retail Price,Sales Rep,Endcap,Demo,Demo1-3,Demo4-5,Natural,Fitness
count,1386.000000,1386.000000,1386.000000,1386.000000,1386.000000,1386.000000,1386.000000,1386.000000,1386.000000
mean,253.820718,4.107093,0.549784,0.038240,0.058442,0.156566,0.075758,1.448773,2.476190
std,110.998731,0.463828,0.497695,0.191843,0.234661,0.363522,0.264705,0.975092,1.592789
min,47.559852,2.889286,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,189.995471,3.775714,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000
50%,236.735266,4.096667,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,2.000000
75%,295.804391,4.425067,1.000000,0.000000,0.000000,0.000000,0.000000,2.000000,4.000000
max,1041.200256,6.251538,1.000000,1.000000,1.000000,1.000000,1.000000,4.000000,5.000000

In [8]:
#Calculate standard deviation for all numeric columns;
gbdf.std()

<ipython-input-8-914dc5dc68f4>:2: FutureWarning: The default value of numeric_only in DataFrame.std is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  gbdf.std()

Date                    22 days 03:27:15.853934319
Units Sold                              110.998731
Average Retail Price                      0.463828
Sales Rep                                 0.497695
Endcap                                    0.191843
Demo                                      0.234661
Demo1-3                                   0.363522
Demo4-5                                   0.264705
Natural                                   0.975092
Fitness                                   1.592789
dtype: object

In [10]:
#What are the mean values of the first 50 records in the dataset?
gbdf.head(50).mean()

<ipython-input-10-ef3eb1942b6e>:2: FutureWarning: DataFrame.mean and DataFrame.median with numeric_only=None will include datetime64 and datetime64tz columns in a future version.
  gbdf.head(50).mean()
<ipython-input-10-ef3eb1942b6e>:2: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  gbdf.head(50).mean()

Units Sold              186.280727
Average Retail Price      4.128036
Sales Rep                 0.000000
Endcap                    0.100000
Demo                      0.000000
Demo1-3                   0.000000
Demo4-5                   0.040000
Natural                   1.300000
Fitness                   1.560000
dtype: float64